<mat-toolbar style="background-color: black; color: whitesmoke;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

      <span routerLink="/" style="cursor: pointer; margin-right: 10px;">Home</span>
      <span routerLink="/admin-login"  style="cursor: pointer; margin-right: 10px;" *ngIf="!isLoggedIn()">Login</span>
      <span routerLink="/employee"  style="cursor: pointer; margin-right: 10px;" *ngIf="isLoggedIn()">Employee</span>
      <span routerLink="/welcome" style="cursor: pointer; margin-right: 10px;" *ngIf="isLoggedIn()">Welcome</span>
      <span style="cursor: pointer; margin-left: auto; margin-right: 10px;" *ngIf="isLoggedIn()" (click)="logout()">Logout</span>
     
</mat-toolbar>
