<mat-toolbar style="background-color: black; color: whitesmoke;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

      <span routerLink="/" style="cursor: pointer; margin-right: 10px;">Home</span>
      <span routerLink="/admin-login"  style="cursor: pointer; margin-right: 10px;">Login</span>
      <span routerLink="/employee"  style="cursor: pointer; margin-right: 10px;">Employee</span>
      <span routerLink="/welcome" style="cursor: pointer; margin-right: 10px;" >Welcome</span>
     
</mat-toolbar>
