.container {
    width: 100%; /* Adjust the container width as needed */
  }
  
  .columnHead {
    font-size: large;
    text-align: center; /* Center-align column headers */
  }
  
  .columnContent {
    font-size: medium;
    white-space: nowrap; /* Prevent text from wrapping */
    max-width: 200px; /* Set a maximum width for columns */
    overflow: hidden;
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
  }
  
  /* Apply ellipsis only to span elements, not input elements */
  .columnContent > span {
    text-overflow: ellipsis;
  }
  
  /* Add styles for the editing mode */
  .columnContent > input {
    width: 100%; /* Make the input field expand to full width */
  }
  