<body style="background-color: whitesmoke">

    <div class="rotate-icon">
        <i class="fa fa-globe fa-spin"></i>
      </div>

<div class="welcome-container">
    <mat-card class="welcome-card">
      <mat-card-header>
        <mat-card-title style="margin-left: 60px; margin-top: 20px; font-size: 30px;">Welcome to codewithmixxz website</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p  style="margin-left: 100px; margin-top: 20px; font-size: 20px;">Here we manage employees data. <b>Try it out.</b></p>
      </mat-card-content>
      
    </mat-card>
</div>
  
</body>  