.welcome-container {
    margin-top: 100px;
    margin-left: 404px;
  }
  
  .welcome-card {
    width: 620px;
    margin-left: 100px;
    height: 200px;
  }
  
  .rotate-icon {
    margin-left: 731px;
    font-size: 175px;
    padding-top: 100px;
  }
  