.form-card {
    width: 550px;
    height: 510px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-left: 70px;
    
}

.container_1{
    margin-bottom: 20px;
    margin-left: 35px
}

.container_2{
    margin-bottom: 20px;
    margin-left: 35px
}

.container_3{
    margin-bottom: 20px;
    margin-left: 35px;
}

/* Add a border to the right of the tile to create a divider */
.divider-tile {
    
    border-right: 1px solid #ccc; /* Adjust the width and color as needed */
  }
  
  